<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbourly</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.png" type="image/png">
  </head>
  <body>

    <div id="homepage">
        <h1>Welcome to Neighbourly! </h1>
        <p> Getting older? Need help with managing essential tasks 
          like taking out the trash and picking up medication? Join Neighbourly today, 
          where volunteers can aid you with your responsibilities! </p>
        <button onclick="window.location.href='{{ url_for('login') }}';">Login</button>
        <br> <br>
    </div>

    
  </body>
</html>
