<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighbourly</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/images/favicon.png" type="image/png">

  </head>
  <body id="login-bg">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="flash-{{category}}">    
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}    
    <div id="login">
        <div id="inner-login">
            <h1>Login</h1>
            <form method="POST" action="{{ url_for('login') }}">
                <input type="text" id="email" name="email" placeholder="Email"><br>
                <input type="password" id="password" name="password" placeholder="Password"> <br>
                <div id="testing">
                    <input type="submit" value="Submit">
                </div>
            </form>
            <p>Don't have an account? <a href="{{url_for('signup')}}">Register here!</a></p> 
        </div>
    </div>

    
  </body>
</html>
